/*GENERALES*/
/* Estilos generales */
html,body,footer,header {
    font-family: 'Courier New', Courier, monospace;
    font-stretch: semi-condensed;
    line-height: 2;
    margin: 0;
    padding: 0;
}

/*Configuracion imagen de Machu Picchu*/
header {
    background-image: url('../imagenes/MachuPichu.jpg');
    background-size: contain;
    
    text-align: center; /*Posicion de texto en la imagen*/
    padding: 1rem 0rem;
    position: relative;
    min-height: 10px;
}

/*Dimensiones del cuadro principal de informacion*/
main {
    padding: 0.5rem;
    max-width: 1000px;
    margin: auto;
}

/*Configuracion del texto final */
footer {
    background-image: url('../imagenes/Footer2.jpg'); 
    position: relative;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Configuracion de la distribucion de la imagen pie-pagina*/
.letras-footer {
    position: absolute;
    width: 60px; /*Tamaño de la imagen*/
    height: auto;
    right: 20px; /* Posicionamos a la derecha */
    bottom: 20px;
    left: auto; /* Anulamos la posición izquierda anterior */
}

/* Para no solapar con la bandera */
footer p {
    margin: 1.5rem;
    text-align: center; /* Aseguramos que el texto esté centrado */
    position: absolute;
}

/*Configuracion de Letras sobre Machu Picchu*/
header h1 {
    background-color: rgba(216, 20, 39, 0.596);
    color: rgb(255, 255, 255);  /*Color de texto del titulo principal de la pagina*/
    text-shadow: 2px 2px 4px rgb(15, 15, 15); /*Color de sombra de las opciones*/
    border: 2px solid #ffff;
    border-radius: 10px;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
}

/*Configuracion de la distribucion de las opciones Navegación*/
nav a {
    background-color: rgba(216, 20, 39, 0.596);
    text-shadow: 2px 2px 4px rgb(15, 15, 15); /*Color de sombra de las opciones*/
    border: 2px solid #faf7f7;
    font-size: 1.5rem;
    color: #fffbfb;
    margin: 0.5rem;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
}

nav ul li {
    display: inline-table; 
    margin: 0 40px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.596);  /*Color cuando te posicionas encima de una opcion de inicio*/
    transform: scale(1.10);
}