.imagenes{
    display: flex;
}
.imagen{
    flex: 1;
    margin: 10px;
    width: 4px;
    border-radius: 10px;
}

/* Estilos para la sección de comentarios */
.comentarios {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 2px solid #000000;
}

.bloque_contenido textarea {
    width: 770px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

.boton-enviar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}