/* Estilos generales */
.cuadro_de_texto {
    color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    font-size: large;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 6px solid #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px black;
}

/* Estilos para las imágenes de fondo de cada departamento */
.tumbes {
    background-image: url(../imagenes/Departamentos/tumbes.jpg);
}

.piura {
    background-image: url(../imagenes/Departamentos/piura.jpg);
}

.lambayeque {
    background-image: url(../imagenes/Departamentos/lambayeque.jpg);
}

.la_libertad {
    background-image: url(../imagenes/Departamentos/la_libertad.jpg);
}

.ancash {
    background-image: url(../imagenes/Departamentos/ancash.jpg);
}

.lima {
    background-image: url(../imagenes/Departamentos/lima.jpg);
}

.ica {
    background-image: url(../imagenes/Departamentos/ica.jpg);
}

.arequipa {
    background-image: url(../imagenes/Departamentos/arequipa.jpg);
}

.moquegua {
    background-image: url(../imagenes/Departamentos/moquegua.jpg);
}

.tacna {
    background-image: url(../imagenes/Departamentos/tacna.jpg);
}

.apurimac {
    background-image: url(../imagenes/Departamentos/apurimac.jpg);
}

.ayacucho {
    background-image: url(../imagenes/Departamentos/ayacucho.jpg);
}

.cajamarca {
    background-image: url(../imagenes/Departamentos/cajamarca.jpg);
}

.cuzco {
    background-image: url(../imagenes/Departamentos/cuzco.jpg);
}

.huancavelica {
    background-image: url(../imagenes/Departamentos/huancavelica.jpg);
}

.huanuco {
    background-image: url(../imagenes/Departamentos/huanuco.jpg);
}

.junin {
    background-image: url(../imagenes/Departamentos/junin.jpg);
}

.pasco {
    background-image: url(../imagenes/Departamentos/pasco.jpg);
}

.puno {
    background-image: url(../imagenes/Departamentos/puno.jpg);
}

.amazonas {
    background-image: url(../imagenes/Departamentos/amazonas.jpg);
}

.loreto {
    background-image: url(../imagenes/Departamentos/loreto.jpg);
}

.madre_de_dios {
    background-image: url(../imagenes/Departamentos/madre_de_dios.jpg);
}

.san_martin {
    background-image: url(../imagenes/Departamentos/san_martin.jpg);
}

.ucayali {
    background-image: url(../imagenes/Departamentos/ucayali.jpg);
}

.Introduccion{
background-color: #e01919;
border: 6px solid #333;
border-radius: 8px;
padding: 0.5rem;
}

/* Estilos para el texto de introducción */
.texto_introduccion {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.texto_introduccion .imagen {
    width: 270px;
    height: auto;
    border-radius: 8px;
    border: 3px solid #000;
    margin-left: auto;
}

/* Estilos para la tabla de regiones */
.tabla-regiones {
    width: 90%;
    border-collapse: separate;
    margin: 5px auto;
}

.tabla-regiones th, .tabla-regiones td {
    background-color: #ffd500;
    border-radius: 10px;
    border: 5px solid black;
    color: #333;
    font-size: x-large;
    text-align: center;
    padding: 0.5rem;
}

.imagen-region {
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
    border-radius: 10px;
}

/* Estilos para las regiones */
.region_1 {
    background: #e4c73469;
    border: 6px solid #e4c734;
    border-radius: 10px;
    margin-block: 1.5rem;
    padding: 1rem;
}

.region_2 {
    background: rgba(81, 48, 1, 0.41);
    border: 6px solid rgb(81, 48, 1);
    border-radius: 10px;
    margin-block: 1.5rem;
    padding: 1rem;
}

.region_3 {
    background: rgba(19, 121, 12, 0.41);
    border: 6px solid rgb(61, 130, 15);
    border-radius: 10px;
    margin-block: 1.5rem;
    padding: 1rem;
}

/* Títulos de regiones */
.titulo_costa, .titulo_sierra, .titulo_selva {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.titulo_costa {
    border: 6px solid #e4c734;
}

.titulo_sierra {
    border: 6px solid rgb(81, 48, 1);
}

.titulo_selva {
    border: 6px solid rgb(61, 130, 15);
}

/* Estilos para los detalles desplegables */
.desplegable {
    margin-top: 1rem;
}

details {
    background-color: #000000ad;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #ffffff;
    margin: 0.5rem;
}

summary {
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para los títulos de departamento */
.titulo {
    background-color: black;
    border-radius: 10px;
    border: 6px solid #ffffff;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-align: center;
}