/* |-------------------------------------------------------------------------------------------------| */
/*PAGINA 3*/
.personajes_historicos{
    border: 6px solid #ffffff;
    border-radius: 10px;
    color: #ffff;
    padding: 0rem 0.5rem;
    margin: 1rem;
}
details {
    background: #0e0c009e;
    border-left: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffffff;
    margin: 1rem;
    padding: 0.5rem;
}
.info{
    border-radius: 8px;
    color: #ffffff;
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: #6d6b6b;
}
.info1{
    background-color: #6d6b6b;
    border-left:6px solid #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.titulo_personaje {
    background-color: #000000;
    border: 6px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}
.info_cuadro{
    background-color: #ccc8c8b0;
    border-radius: 10px;
    border:6px solid #ffffff;
    padding: 0.3rem 1rem;
    margin: 1rem;
}
.imagenes {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 300px ;
    border-radius: 10px;
}
table {
    width: 90%;
    border-collapse: separate;
    margin: 5px auto;
}
th, td {
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}
td{
    background-color: #6d6b6b;
}
th {
    background-color: #c31313;
}