/* |---------------------------------------------------------------------------------------------------------| */
/*USO DE CUADRO GENERAL EN ESTE CSS*/

.cuadro_de_texto{
    border-radius: 8px;
    color: #ffffff;
    padding: 0.3rem 1rem;
    background-color: rgba(0, 0, 0, 0.596);
}
.titulo {
    background-color: black;
    border-radius: 10px;
    border: 6px solid #ffffff;
    color: white;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* |---------------------------------------------------------------------------------------------------------| */
/*PAGINA  2*/

.Introduccion{
    background-color: #3b92d477;
    border: 6px solid #ff0000;
    border-radius: 10px;
    padding: 1rem;
    margin-block: 1.5rem;
}
.departamento{
    background-color: black;
    border: 6px solid #ffffff;
    color: #ffffff;
    padding: 0rem 1rem;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
}

/* |---------------------------------------------------------------------------------------------------------| */
/*PARTE COSTA*/
.region_1 {
    background-color: #3b92d477;
    border: 6px solid #e4c734; 
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}
.titulo_costa{
    background-color: black;
    color: #ffffff;
    padding: 0rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/*TUMBES*/
.tumbes {
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/tumbes.jpg);
    background-size: cover;
    background-position: center;
}

/*PIURA*/
.piura {
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/piura.jpg);
    background-size: cover;
    background-position: center;
}

/*LAMBAYEQUE*/
.lambayeque{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/lambayeque.jpg);
    background-size: cover;
    background-position: center;
}

/*LA LIBERTAD*/
.la_libertad{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/la_libertad.jpg);
    background-size: cover;
    background-position: center;
}

/*ANCASH*/
.ancash{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/ancash.jpg);
    background-size: cover;
    background-position: center;
}

/*LIMA*/
.lima{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/lima.jpg);
    background-size: cover;
    background-position: center;
}

/*ICA*/
.ica{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/ica.jpg);
    background-size: cover;
    background-position: center;
}

/*AREQUIPA*/
.arequipa{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/arequipa.jpg);
    background-size: cover;
    background-position: center;
}

/*MOQUEGUA*/
.moquegua{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/moquegua.jpg);
    background-size: cover;
    background-position: center;
}

/*TACNA*/
.tacna{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/tacna.jpg);
    background-size: cover;
    background-position: center;
}

/* |---------------------------------------------------------------------------------------------------------| */
/*PARTE SIERRA*/
.region_2 {
    background-color: #3b92d477;
    border-left: 6px solid #653301; 
    border-right: 6px solid #653301; 
    border-block: 6px solid #653301;
    border-radius: 10px; 
    
    margin: 0.5rem;
    padding: 1rem;
}
.titulo_sierra{
    background-color: black;
    border: 6px solid #ffffff;
    color: #ffffff;
    padding: 0rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

/*APURIMAC*/
.apurimac{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/apurimac.jpg);
    background-size: cover;
    background-position: center;
}

/*AYACUCHO*/
.ayacucho{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/ayacucho.jpg);
    background-size: cover;
    background-position: center;
}

/*CAJAMARCA*/
.cajamarca{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/cajamarca.jpg);
    background-size: cover;
    background-position: center;
}

/*CUZCO*/
.cuzco{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/cuzco.jpg);
    background-size: cover;
    background-position: center;
}

/*HUANCAVELICA*/
.huancavelica{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/huancavelica.jpg);
    background-size: cover;
    background-position: center;
}

/*HUANUCO*/
.huanuco{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/huanuco.jpg);
    background-size: cover;
    background-position: center;
}

/*JUNIN*/
.junin{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/junin.jpg);
    background-size: cover;
    background-position: center;
}

/*PASCO*/
.pasco{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/pasco.jpg);
    background-size: cover;
    background-position: center;
}

/*PUNO*/
.puno{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/puno.jpg);
    background-size: cover;
    background-position: center;
}

/* |---------------------------------------------------------------------------------------------------------| */
/*PARTE SELVA*/
.region_3 {
    background-color: #3b92d477;
    border-left: 6px solid #229c17;
    border-right: 6px solid #229c17;
    border-block: 6px solid #229c17;
    border-radius: 10px;
    
    margin: 0.5rem;
    padding: 1rem;
}
.titulo_selva{
    background-color: black;
    border: 6px solid #ffffff;
    color: #ffffff;
    padding: 0rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/*AMAZONAS*/
.amazonas{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/amazonas.jpg);
    background-size: cover;
    background-position: center;
}

/*LORETO*/
.loreto{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/loreto.jpg);
    background-size: cover;
    background-position: center;
}

/*MADRE DE DIOS*/
.madre_de_dios{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/madre_de_dios.jpg);
    background-size: cover;
    background-position: center;
}

/*SAN MARTIN*/
.san_martin{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/san_martin.jpg);
    background-size: cover;
    background-position: center;
}

/*UCAYALI*/
.ucayali{
    background-color: #ffffff;
    border: 6px solid#ff0000;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 2.3rem;

    /*fondo*/
    background-image: url(/imagenes/Departamentos/ucayali.jpg);
    background-size: cover;
    background-position: center;
}  